player-connection-mode=Listen
player-connection-guid=11344324
player-connection-debug=0
player-connection-project-name=FinalGame
player-connection-ip=192.168.1.98
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4c30d9b783814ca193672e99a15fdc76
